    <style>
/*        .searchBox{
            width: 600px;
            height: 400px;
            margin-left: 50px;
        }
        .gs_hatr{
            width: 90%;
            height: 20px;
            float: left;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .gs_hadt{
            float: left;
            width: 30%;
        }
        .gs_hadd{
            float: left;
            width: 70%;
        }
        .gs_hadd .gs_mini{
            width: 78%;
            height: 18px;
        }*/
    </style>
